<hr>
<div class="comment">
    <form class="form-group" action="/comment/" method="POST">
        {% csrf_token %}
        <input name="target" TYPE="hidden" value="{{ request.path }}"/>
        {{ comment_form }}

        <input type="submit" value="提交!">
    </form>

    <hr>

    <ul class="list-group">

    <H3>评论列表:</H3>
        {% for comment in comment_list %}
            <li class="list-group-item">
                <div class="nickname">
                    <a href="{{ comment.website }}">{{ comment.nickname }}</a> <span>{{ comment.created_time }}</span>
                </div>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </li>
        {% endfor %}
    </ul>

</div>